.about {
  display: flex;
  justify-content: center;
  background-color: @lightblue;

  &--no-bg {
    background-color: unset;
  }
}

.about__wrapper{
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
}

.about__text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

.about__button {
  margin-right: 15px;
}

@media (max-width: @break-point-0) {
  .about__wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: @break-point-tablet) {
 .about__wrapper {
   flex-direction: column;
 }

 .about__text {
   width: 100%;
 }

 .about__button {
   margin: 30px  0 0 0;
 }
}

@media (max-width: @break-point-4) {
  .about__text {
    font-size: 16px;
    line-height: 24px;
  }
}
