.breadcrumbs {
  display: flex;
  justify-content: center;
  background-color: @lightblue;
  padding: 25px 0;

  font-size: 12px;
  line-height: 1;

  border-bottom: 1px solid @blue;
}

.breadcrumbs__wrapper {
  display: flex;
  justify-content: center;
}

.breadcrumbs__link {
  color: @blue;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: @red;
    text-decoration: none;
  }

  &:active {
    color: @darkblue;
  }
}

.breadcrumbs__link,
.breadcrumbs__current {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 2px;
}

.breadcrumbs__separator {
  margin: 0 5px;
}

@media (max-width: @break-point-4) {
  .breadcrumbs {
    display: none;
  }
}
