.content {
  display: flex;
  justify-content: center;
}

.content__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  &--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.content__title {
  width: 100%;
  margin-bottom: 50px;
}

.content__form {
  width: 100%;
}

.content__pagination {
  margin-top: 50px;

  &--nomargin {
    margin-top: 0;
  }
}

.content__text-big {
  color: @blue;
  font-size: 24px;
  line-height: 32px;
}

.content__quote {
  padding: 25px 35px;
  margin: 30px 0;
  color: @blue;
  background-color: @lightblue;
}

.content__column {
  p {
    &:first-of-type {
      margin-top: 0 !important;
    }

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}
