.content {
  display: flex;
  justify-content: center;
}

.content__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  &--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.content__title {
  width: 100%;
  margin-bottom: 50px;
}

.content__form {
  width: 100%;

  &--small {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.content__pagination {
  margin-top: 50px;

  &--nomargin {
    margin-top: 0;
  }
}

.content__text-big {
  color: @blue;
  font-size: 24px;
  line-height: 32px;
}

.content__small-text {
  font-size: 18px;
  line-height: 24px;
}

.content__sign {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: @blue;;
}

.content__quote {
  padding: 25px 35px;
  margin: 30px 0;
  color: @blue;
  background-color: @lightblue;
}

.content__highlight {
  padding: 25px 35px;
  margin: 30px 0;
  color: @blue;
  border: 1px solid @blue;
}

.content__column {
  p {
    &:first-of-type {
      margin-top: 0 !important;
    }

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}

@media (max-width: @break-point-1) {
  .content__column {
    width: 66.66%;
  }
}

@media (max-width: @break-point-2) {
  .content__pagination {
    margin-top: 0;
  }
}

@media (max-width: @break-point-tablet) {
  .content__title {
    margin-bottom: 30px;
  }

  .content__column {
    width: 100%;
  }
}

@media (max-width: @break-point-3) {
  .content__form {
    &--small {
      width: 100%;
    }
  }
}

@media (max-width: @break-point-4) {
  .content__quote {
    padding: 15px 25px;
  }
}

@media (max-width: @break-point-mobile) {
  .content__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .content__text-big {
    font-size: 18px;
    line-height: 24px;
  }

  .content__quote {
    padding: 15px 20px;
  }
}
