.experts__links {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.experts__category-link {
  &--active {
    color: #ffffff;
    background-color: @blue;
    cursor: default;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      border-color: @blue;
    }
  }
}

.experts__item-wrapper {
  margin-top: 75px;
}

@media (max-width: @break-point-1) {
  .experts__item-wrapper {
    margin-top: 50px;
  }
}

@media (max-width: @break-point-tablet) {
  .experts__item-wrapper {
    width: 50%;
  }
}

@media (max-width: @break-point-4) {
  .experts__item-wrapper {
    width: 100%;
  }
}

@media (max-width: @break-point-mobile) {
  .experts__links {
    flex-direction: column;
    gap: 5px;
  }

  .experts__category-link {
    text-align: center;
  }
}
