.expert__img-wrapper {
  justify-content: center;
  width: 33.33%;
}

.expert__img {
  align-self: baseline;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    max-width: 250px;
  }
}

.expert__info-wrapper {
  flex-direction: column;
}

.expert__job {
  margin-top: 15px;
}

.expert__status {
  align-self: baseline;
  padding: 10px 15px;
  margin: 30px 0 0 0;
  border: 1px solid @blue;
  border-radius: 10px;

  &--approved {
    color: #ffffff;
    background-color: @red;
    border: none;
  }
}

.expert__bio {
  margin-top: 50px;
  color: #000000;
}

@media (max-width: @break-point-tablet) {
  .expert__img-wrapper {
    width: 100%;
  }

  .expert__info-wrapper {
    margin-top: 30px;
  }

  .expert__title,
  .expert__job {
    text-align: center;
  }

  .expert__status {
    align-self: center;
  }
}

@media (max-width: @break-point-4) {
  .expert__img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: @break-point-mobile) {
  .expert__img {
    margin-top: 15px;
  }
}
