.header {
  display: flex;
  justify-content: center;

  background-color: @lightblue;
  border-bottom: 1px solid @blue;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__controls,
.header__user-links {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 33.33%;
}

.header__logo {
  width: 204px;
  height: 60px;
}

.header__user-links {
  justify-content: flex-end;
}

.header__user-links-item {
  margin-left: 20px;
  align-items: center;

  &:first-child {
    margin: 0;
  }
}

.header__search-button {
  width: 20px;
  height: 20px;
  margin-left: 20px;

  svg {
    .transition(svg);

    pointer-events: none;
    fill: @blue;
  }

  &:hover,
  &:focus {
    svg {
      fill: @red;
    }
  }
}

@media (max-width: @break-point-tablet) {
  .header__user-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__user-links-item {
    margin: 8px 0 0 0;
    margin-left: auto !important;
  }
}

@media (max-width: @break-point-3) {
  .header__logo {
    height: 70px;
    width: auto;

    img {
      height: 70px;
      width: auto;
    }
  }
}

@media (max-width: @break-point-4) {
  .header__user-links {
    font-size: 12px;
  }
}

@media (max-width: @break-point-mobile) {
  .header__wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header__logo {
    height: 60px;
    width: auto;

    img {
      height: 60px;
      width: auto;
    }
  }
}
